<h1>Users</h1>

<p><%= link_to 'Add a New User', new_user_url %></p>

<% if @follower.try(:errors) %>
<ul>
  <% @follower.errors.full_messages.each do |msg| %>
    <li><%= msg  %></li>
  <% end %>
</ul>
<% end %>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Followers</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
  <% @users.each do |user| %>
    <tr>
      <td><%= user.name %></td>
      <td><%= user.email %></td>
      <td><%= user.followers.count %></td>

      <td><%= form_tag followme_path, method: 'post' do %>
        <%= hidden_field_tag :follower_id, user.id %>
        <%= submit_tag 'Follow' %></td>
      <% end %>
      <td><%= link_to 'Show', user_url(user) %></td>
      <td><%= link_to 'Edit', edit_user_url(user) %></td>
      <td><%= link_to 'Destroy', user_url(user), method: 'delete', data: { confirm: "Do you really want to delete this user?" } %></td>

    </tr>
  <% end %>
  </tbody>
</table>

