<h1>Posts</h1>

<p><%= link_to 'Add a New Post', new_post_url %></p>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Title</th>
      <th>Body</th>
      <th>Date Saved</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
  <% @posts.order("id DESC").each do |post| %>
    <tr>
      <td><%= post.user_id %></td>
      <td><%= post.title %></td>
      <td><%= (post.body.split[0, 25].join(' ').html_safe) + '...' %></td>
      <td><%= post.date %></td>

      <td><%= link_to 'Show', post_url(post) %></td>
      <td><%= link_to 'Edit', edit_post_url(post) %></td>
      <td><%= link_to 'Destroy', post_url(post), method: 'delete', data: { confirm: "Do you really want to delete this post?" } %></td>

    </tr>
  <% end %>
  </tbody>
</table>

