<!DOCTYPE html>
<html>
<head>
  <title>Rojo</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>

  <nav>
    <ul class='nav'>
      <li><%= link_to 'Import Link', import_path %></li>
      <li><%= link_to 'Posts', posts_path %></li>
      <li><%= link_to 'Users', users_path %></li>
    </ul>
    <% if session[:user_id].present? %>
      <p><%= current_user.name.capitalize %> is signed in |  <%= link_to 'Sign Out', destroy_session_path %></p>
      <% else %>
      <p><%= link_to 'Sign In', new_session_path %> or <%= link_to 'Sign Up', new_user_path %></p>
    <% end %>
  </nav>
</head>
<body>
<p><%= notice %></p>
<%= yield %>

</body>
</html>
